{%  extends 'base.html' %}

{% block title %}
{{ page_title }}
{%endblock%}

{% block css %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/index.css')}}" type="text/css">
{% endblock %}

{% block content %}
  
<div class="container">
    <div class="row">
        <div class="col-sm-12">
           <h1>Test playground</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
           <a href="{{url_for ('speechrecog') }}">Speech Recognition</a><span> Javascript speech recognition app</span>
           <br>
           <a href="{{url_for ('speechtext') }}">Speech to Text</a><span>  Javascript speech to text app</span>
           <br>
           <a href="{{url_for ('weather') }}">weather api</a><span>  python weather api app</span>
           <br>
           <a href="{{url_for ('weather2') }}">weather2 api</a><span>  python weather api with geo coordinates and forcast app</span>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}



{% endblock %}
    
</body>
</html>