{%  extends 'base.html' %}

{% block title %}
{{ page_title }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/weather2.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Geo location Weather Api</h1>
            <br>
            <a class="btn btn-secondary" href="{{ url_for ('index')}}">Back</a>
            <br>
            <h3>Current Weather</h3>
            <div>Area: {{ geoweather.area }}</div>
            <div>Dec: {{ geoweather.dec|title }}</div>
            <img src="{{ geoweather.iconnow }}" alt="wether icon">
            <!-- temp to 2 decimal places -->
            <div>Temp: {{ geoweather.current_temp }}&#x2103</div>
            <div>Feels Like: {{ geoweather.feels_like }} &#x2103</div>
            <div>Humidity: {{ geoweather.humid }} %</div>
            <div>Visibility: {{ geoweather.visname }}</div>
            <div>Wind Speed: {{ geoweather.wspeed_con }} Mph</div>
            <div>Wind Direction: {{ geoweather.wdirectioncurrent }}</div>
            {% if geoweather.alertcurrent == None %}{% else %}<div>Alert: {{ geoweather.alertcurrent }}</div>{% endif %}
            <br>
            <h3>Daily Weather</h3>
            <br>
        </div>
    </div>
    <div class="col-sm-6 weatherbox">
        <div class="row">
            <div class=" col-sm-6 currentweatherleft">
                <div class="weathertext wetherarea">{{ geoweather.area }}</div>
                <div class="weathertext">{{ geoweather.current_temp }}&#x2103</div>
                <div class="weathertext">{{ geoweather.dec|title }}</div>
            </div>
            <div class="col-sm-6 currentweatherright">
                <img src="{{ geoweather.iconnow }}" alt="wether icon"><br>
                <div class="weathertext">Feels Like: {{ geoweather.feels_like }} &#x2103</div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="row">
            <div class="col dayforcastinfo">
                <div class="dayforcastinfo">
                    <img src="{{ geoweather.icon1 }}" alt="wether icon">
                    <div class="weathertext">{{ geoweather.day1desc|title }}</div>
                    <div class="weathertext">{{ geoweather.day1max }}/{{ geoweather.day1min }}</div>
                </div>
                <div class="dayforcastinfo">
                    <img src="{{ geoweather.icon2 }}" alt="wether icon">
                    <div class="weathertext">{{ geoweather.day2desc }}</div>
                    <div class="weathertext">{{ geoweather.day2max }}/{{ geoweather.day2min }}</div>
                </div>
                <div class="dayforcastinfo">
                    <img src="{{ geoweather.icon3 }}" alt="wether icon">
                    <div class="weathertext">{{ geoweather.day3desc }}</div>
                    <div class="weathertext">{{ geoweather.day3max }}/{{ geoweather.day3min }}</div>
                </div>
                <div class="dayforcastinfo">
                    <img src="{{ geoweather.icon4 }}" alt="wether icon">
                    <div class="weathertext">{{ geoweather.day4desc }}</div>
                    <div class="weathertext">{{ geoweather.day4max }}/{{ geoweather.day4min }}</div>
                </div>
                <div class="dayforcastinfo">
                    <img src="{{ geoweather.icon5 }}" alt="wether icon">
                    <div class="weathertext">{{ geoweather.day5desc }}</div>
                    <div class="weathertext">{{ geoweather.day5max }}/{{ geoweather.day5min }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock %}

<!-- <div>Area: {{ weather.nam }}</div>
<div>Dec: {{ weather.dec|title }}</div>
<div>Temp: {{ weather.temp }}&#x2103</div>
<div>Low temp: {{ weather.ltemp }}&#x2103</div>
<div>High Temp: {{ weather.htemp }}&#x2103</div>
<div>Wind Speed: {{ weather.wspeed }} Mph</div>
<div>Wind Direction: {{ weather.wdirection }}</div>
<div>longlitude: {{ weather.lng }}</div>
<div>latitude: {{ weather.lat }}</div> -->


{% block script %}

{% endblock %}