.weatherboxcold{
    border: 1px solid black;
    border-radius: 20px;
    background-image: linear-gradient(blue, lightblue) ;
    width: 100%;
}
.separatorcold{
    border: 1px solid orange;
}

.weatherboxhot{
    border: 1px solid black;
    border-radius: 20px;
    background-image: linear-gradient(red, yellow) ;
    width: 100%;
}
.separatorhot{
    border: 1px solid blue;
}

.rline{
    margin-right: 2px;
}

.currentweatherleft{
    text-align: center;
    width: 50%;
}

.textcol{
    color: white;
}

.textcol1{
    color: black;
}

.currentweatherright{
    text-align: center;
    width: 50%;
}

.dayforcastinfo{
    text-align: center;
    padding: 0px;
    display: inline-block;
}


@media only screen and (max-width: 425px) {
    .weathertext{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 375px) {
    .weathertext{
        font-size: 0.9rem;
    }
    
    .wetherarea{
    padding-top: 8px;
    }
    .weatherbox{
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .weathertext{
        font-size: 0.8rem;
    }
    
    .wetherarea{
    padding-top: 11px;
    }
   
}